<!DOCTYPE html>
<html>
  <head>
    <title>Perfkt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <span id="nav-logo" class="navbar-left">
        <i class='fa fa-stop-circle fa-3x' aria-hidden="true"></i>
        <h1 class="pl-3 text-right font-weight-bold">The Perfkt</h1>
      </span>
      <span class='btn btn-secondary'>Login</span>
    </div>
    <%= yield %>
  </body>
</html>
